@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  font-family: Quicksand, sans-serif;
  background-color: #bbb;
}

header .logo-left {
  margin-top: .3rem;
  width: 32px;
  float: left;
}

header .logo-right {
  margin-top: .3rem;
  width: 32px;
  float: right;
}

header h1 {
  margin: 0;
  text-align: center;
  color: #333;
}

header nav {
  background-color: #ddd;
}

header nav:hover {
  background-color: #eee;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  width: 32.4%;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 6px;
}

header a {
  text-decoration: none;
  color: #555;
}

main {
  float: left;
  width: 100%;
  font-family: Questrial, sans-serif;
  background-color: #eee;
}

.topimage img {
  margin-top: .5em;
  width: 100%;
}

div h2 {
  color: #333;
  margin: .5em;
  margin-top: 0;
}

div p {
  color: #444;
}

.summary p {
  margin: .5em;
  padding-left: .4em;
}

main ul {
  margin: 0;
  padding: 0;
}

main li {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.item {
  color: #444;
  text-decoration: none;
  background-color: #ddd;
  margin: .5em;
  padding: .5em;
  border-radius: 6px;
}

.item:hover {
  background-color: #c3c3c3;
  color: #444;
}

.button {
  margin-left: 0;
  background-color: #bbb;
  color: #444;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: .5em;
}

.button:hover {
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 6px;
  color: #444;
}

.hazel-button {
  margin-left: 3.3em;
}

.ban-button {
  margin-left: 1.4em;
}

.choco-button {
  margin-left: 2.6em;
}

.butter-button {
  margin-left: 1.4em;
}

.peach-button {
  margin-left: 2.1em;
}

.foodicon {
  display: none;
}

.workers img {
  width: 80px;
}

.workers h2 {
  margin-left: .5em;
  margin-bottom: .2em;
}

.workers nav {
  margin-left: .8em;
}

.workers li {
  display: inline-block;
  margin-top: .5em;
  margin-bottom: 0;
  width: 48%;
  text-align: center;
  background-color: #ddd;
  border-radius: 6px;
}

.title {
  font-size: 1.2rem;
  margin: 0;
}

.workers p {
  margin: .2em;
}

.workers a {
  text-decoration: none;
  color: #444;
  margin: 0;
}

.hours h2 {
  margin-top: .5em;
}

.hours h3 {
  margin: .5em;
  color: #444;
}

.hours ul {
  margin-left: .5em;
}

.hours li {
  margin: .5em .2em;
}

.hours p {
  margin: .5em;
  margin-left: .6em;
}

.hours .real {
  margin-left: 2.7em;
  color: #888;
}

.book {
  margin-left: .6em;
}

footer {
  font-family: Quicksand, sans-serif;
  background-color: #bbb;
  text-align: center;
}

header li:hover {
  background-color: #c3c3c3;
  border: 2px solid #000;
  color: #555;
}

.workers li:hover {
  background-color: #c3c3c3;
  color: #444;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  header .logo-left {
    width: 41px;
  }

  header .logo-right {
    width: 41px;
  }

  header h1 {
    padding: .3rem;
  }

  .topimage {
    overflow: hidden;
    max-height: 306px;
  }

  .topimage img {
    display: block;
    width: 100%;
  }

  .favourites li {
    display: inline-block;
    width: 45%;
    margin: .5em;
    padding: 1em;
    background: #ddd;
    border-radius: 6px;
  }

  .favourites li:hover {
    background-color: #c3c3c3;
    color: #555;
  }

  .item {
    background: none;
    display: block;
    text-align: center;
  }

  .foodicon {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: .5em;
  }

  .button {
    display: block;
    margin: auto;
    text-align: center;
    width: 100px;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header .logo-left {
    width: 50px;
  }

  header .logo-right {
    width: 50px;
  }

  .topimage {
    position: relative;
  }

  .summary {
    position: absolute;
    width: 95%;
    bottom: 39%;
    left: 2%;
    background-color: rgba(150, 150, 150, .5);
    border-radius: 6px;
  }

  .favourites li {
    width: 30%;
  }

  .item {
    min-height: 65.59px;
  }

  .button {
    width: 110px;
  }

  .workers li {
    width: 24%;
  }

}

@media only screen and (min-width: 38em) {

  .title {
    min-height: 68px;
  }
}

@media only screen and (min-width: 39.75em) {

  .title {
    min-height: 58px;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header .logo-left {
    width: 60px;
  }

  header .logo-right {
    width: 60px;
  }

  .favourites {
    position: relative;
  }

  .foodicon {
    width: 100%;
    position: relative;
  }

  .item {
    min-height: 40px;
    background-color: rgba(150, 150, 150, .5);
  }

  .hazel {
    position: absolute;
    bottom: 65%;
    left: 6%;
  }

  .hazel-button {
    position: absolute;
    bottom: 58%;
    left: 9%;
  }

  .ban {
    position: absolute;
    bottom: 65%;
    left: 36.5%;
  }

  .ban-button {
    position: absolute;
    bottom: 58%;
    left: 42%;
  }

  .choco {
    position: absolute;
    bottom: 65%;
    left: 70%;
  }

  .choco-button {
    position: absolute;
    bottom: 58%;
    left: 74.5%;
  }

  .straw {
    position: absolute;
    bottom: 19%;
    left: 3%;
  }

  .straw-button {
    position: absolute;
    bottom: 12%;
    left: 10%;
  }

  .butter {
    position: absolute;
    bottom: 19%;
    left: 37%;
  }

  .butter-button {
    position: absolute;
    bottom: 12%;
    left: 42%;
  }

  .peach {
    position: absolute;
    bottom: 19%;
    left: 69%;
  }

  .peach-button {
    position: absolute;
    bottom: 12%;
    left: 74%;
  }

  .button {
    width: 120px;
  }

  .hours {
    display: inline-block;
    float: left;
  }

  .book {
    display: inline-block;
    float: left;
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .hazel {
    bottom: 68%;
    left: 9%;
  }

  .hazel-button {
    bottom: 59%;
    left: 11.5%;
  }

  .ban {
    bottom: 68%;
    left: 38%;
  }

  .ban-button {
    bottom: 59%;
    left: 43%;
  }

  .choco {
    bottom: 68%;
    left: 72%;
  }

  .choco-button {
    bottom: 59%;
    left: 75%;
  }

  .straw {
    bottom: 21%;
    left: 6%;
  }

  .straw-button {
    bottom: 12%;
    left: 11%;
  }

  .butter {
    bottom: 21%;
    left: 39%;
  }

  .butter-button {
    bottom: 12%;
    left: 43%;
  }

  .peach {
    bottom: 21%;
    left: 71%;
  }

  .peach-button {
    bottom: 12%;
    left: 75%;
  }
}
